# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [45]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia = [-0.08, -0.27, 0.2, -0.03, 0.260, 0.40, 1.02]
mudanca_temperatura = pd.Series(anomalia)
mudanca_temperatura

0   -0.08
1   -0.27
2    0.20
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [46]:

# seu código aqui
ano = [1900,1920,1940,1960,1980,2000,2020]
mudanca_temperatura = pd.Series(anomalia, index = ano)
mudanca_temperatura

1900   -0.08
1920   -0.27
1940    0.20
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [47]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
mudanca_temperatura_dic = pd.Series(dic_temperaturas)
mudanca_temperatura_dic

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [48]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
d_frame = pd.DataFrame(arr)
d_frame

             0           1           2
0    85.299603  102.063361  113.417075
1    94.277358   92.272647  112.709274
2   108.072178   90.534487   92.120306
3    96.839064  121.312876  108.916104
4   109.347565  105.632950  106.283547
5    99.689790   90.388430  122.711152
6    81.917515   96.397510  112.262886
7   111.110855   78.292231   91.825223
8   107.762871   84.054812  100.078108
9   114.870414   89.795360  117.437697
10  100.919989  102.417601   94.045864
11  106.608440   90.545082  103.392816
12  100.880834   96.779447   91.288963
13  105.316652   99.732901   98.272145
14   99.031283  104.468884   95.033182
15  127.517230  100.769023  106.869815
16  101.870686  102.083874  120.659611
17  110.286698   89.305705   87.010605
18   96.964767   95.558056  110.625858
19  105.584186   93.417800   94.616155

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [49]:
#seu código aqui
d_frame.index = pd.RangeIndex(1,21)
d_frame.columns=['x1', 'x2','x3']
d_frame

            x1          x2          x3
1    85.299603  102.063361  113.417075
2    94.277358   92.272647  112.709274
3   108.072178   90.534487   92.120306
4    96.839064  121.312876  108.916104
5   109.347565  105.632950  106.283547
6    99.689790   90.388430  122.711152
7    81.917515   96.397510  112.262886
8   111.110855   78.292231   91.825223
9   107.762871   84.054812  100.078108
10  114.870414   89.795360  117.437697
11  100.919989  102.417601   94.045864
12  106.608440   90.545082  103.392816
13  100.880834   96.779447   91.288963
14  105.316652   99.732901   98.272145
15   99.031283  104.468884   95.033182
16  127.517230  100.769023  106.869815
17  101.870686  102.083874  120.659611
18  110.286698   89.305705   87.010605
19   96.964767   95.558056  110.625858
20  105.584186   93.417800   94.616155

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [50]:
# seu código aqui
d_frame['media'] = (d_frame['x1']+d_frame['x2']+d_frame['x3'])/3
d_frame

            x1          x2          x3       media
1    85.299603  102.063361  113.417075  100.260013
2    94.277358   92.272647  112.709274   99.753093
3   108.072178   90.534487   92.120306   96.908990
4    96.839064  121.312876  108.916104  109.022681
5   109.347565  105.632950  106.283547  107.088021
6    99.689790   90.388430  122.711152  104.263124
7    81.917515   96.397510  112.262886   96.859304
8   111.110855   78.292231   91.825223   93.742770
9   107.762871   84.054812  100.078108   97.298597
10  114.870414   89.795360  117.437697  107.367824
11  100.919989  102.417601   94.045864   99.127818
12  106.608440   90.545082  103.392816  100.182113
13  100.880834   96.779447   91.288963   96.316415
14  105.316652   99.732901   98.272145  101.107233
15   99.031283  104.468884   95.033182   99.511116
16  127.517230  100.769023  106.869815  111.718689
17  101.870686  102.083874  120.659611  108.204724
18  110.286698   89.305705   87.010605   95.534336
19   96.964767   95.558056  110.625858  101.049560
20  105.584186   93.417800   94.616155   97.872714

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [53]:
# seu código aqui
d_frame['log_med'] = np.log(d_frame['media'])
d_frame

            x1          x2          x3       media   log_med
1    85.299603  102.063361  113.417075  100.260013  4.607767
2    94.277358   92.272647  112.709274   99.753093  4.602698
3   108.072178   90.534487   92.120306   96.908990  4.573772
4    96.839064  121.312876  108.916104  109.022681  4.691556
5   109.347565  105.632950  106.283547  107.088021  4.673651
6    99.689790   90.388430  122.711152  104.263124  4.646918
7    81.917515   96.397510  112.262886   96.859304  4.573259
8   111.110855   78.292231   91.825223   93.742770  4.540555
9   107.762871   84.054812  100.078108   97.298597  4.577785
10  114.870414   89.795360  117.437697  107.367824  4.676261
11  100.919989  102.417601   94.045864   99.127818  4.596410
12  106.608440   90.545082  103.392816  100.182113  4.606990
13  100.880834   96.779447   91.288963   96.316415  4.567639
14  105.316652   99.732901   98.272145  101.107233  4.616182
15   99.031283  104.468884   95.033182   99.511116  4.600269
16  127.517230  100.769023  106.869815  111.718689  4.715984
17  101.870686  102.083874  120.659611  108.204724  4.684025
18  110.286698   89.305705   87.010605   95.534336  4.559486
19   96.964767   95.558056  110.625858  101.049560  4.615611
20  105.584186   93.417800   94.616155   97.872714  4.583668